.message-header {
  border: 1px solid #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.message-header h4 {
  margin-left: 20px;
}

.chat-reminder {
  text-align: center;
  opacity: .3;
}

#message-container {
  padding-top: 10px;
  background: #fefefe;
  border: 1px solid #eee;
  height: 70vh;
  overflow: scroll;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

ul, li {
 list-style: none;
 margin: 0;
 padding: 0;
}

li {
  display: block;
  padding: 3px;
  margin-bottom: 5px;
}

li .message-item {
  padding: 3px;
  border-radius: 5px;
}

.other-message .message-item {
  margin-left: 10px;
  margin-right: 20%;
  float: left;
  border: none;
  background: #eee;
}

.self-message .message-item {
  margin-right: 10px;
  margin-left: 20%;
  float: right;
  border: none;
  background: #A9DFBF;
}

.self-message::after, .other-message::after {
  content:"";
  display:table;
  clear:both;
}
