<div class="jumbotron text-center">
  <h1>My Home Page</h1>
  <p class="lead">Welcome to my home page</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Blogs</h3>
    <p>A blog tutorial to practice with Angular and MongoDB.</p>
  </div>
  <div class="col-md-4">
    <h3>Small Apps</h3>
    <p>This is to showcase some mini apps.</p>
  </div>
  <div class="col-md-4">
    <h3>Useful Notes</h3>
    <p>Write notes down so you can check it out later.</p>
  </div>
</div>
