<div>
  <form>

    <div class="featuredImg">
      <img [src]="blog.featuredImgUrl" alt="featured image" width="auto"
           height="300px">
      <script async src="//embedr.flickr.com/assets/client-code.js"
              charset="utf-8">
      </script>
    </div>

    <button *ngIf="!editFeaturedImgUrl" class="btn btn-sm btn-primary"
            (click)="onUrlClick()">
        Edit Image Url
    </button>

    <div *ngIf="editTitle" class="form-group">
      <input type="input" class="form-control" name="title" required
             placeholder="title" [(ngModel)]="blog.title">
    </div>
    <h3 *ngIf="!editTitle" (click)="onTitleClick()">
      {{ blog.title }}
    </h3>
    <h4><small>at {{ blog.createdAt | date:'medium'}}</small></h4>

    <div *ngIf="editFeaturedImgUrl" class="form-group">
      <input type="input" class="form-control" name="featuredImgUrl" required
             placeholder="url" [(ngModel)]="blog.featuredImgUrl">
    </div>

    <div *ngIf="editContent" class="form-group">
      <textarea class="form-control" rows="5" name="content"
                [(ngModel)]="blog.content">
      </textarea>
    </div>
    <p *ngIf="!editContent" (click)="onContentClick()">{{ blog.content }}</p>

    <button type="button" (click)="updateBlog()" class="btn btn-primary">
      Update
    </button>
    <button type="button" (click)="deleteBlog()" class="btn btn-danger">
      Delete
    </button>
  </form>
</div>
